.factory {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  & h2 {
    box-sizing: border-box;
    margin-top: 100px;
    margin-left: 130px;
    color: #FFFFFF;
    font-size: 32px;
    line-height: 40px;
    font-weight: 600;
  }

  .factory_container {
    display: flex;
    margin-top: 60px;
    margin-left: 70px;
    justify-content: space-evenly;


    .factory_actions {
      display: flex;
      flex-direction: column;
      box-sizing: border-box;

      .produce_btn {
        width: 236px;
        height: 48px;
        box-sizing: border-box;
        background-color: transparent;
        border: 2px solid #FF7F22;
        border-radius: 60px;
        color: #FFFFFF;
        line-height: 24px;
        font-size: 16px;
        font-weight: 600;
        text-align: center;
        box-shadow: 0 8px 10px 0 #00000029;
        cursor: pointer;
        margin-top: 77px;

        &:hover {
          background-color: #FF5722;
        }

        &:active {
          background-color: #FF7F22;
        }

        &.disabled {
          border: 2px solid #4C5865;
          background-color: transparent;
          cursor: unset;
          color: #4C5865;
        }

      }

    }

    .factory_result {
      background-image: url("../../assets/img/robots/Frontend_Disable.svg");
      background-size: cover;
      width: 236px;
      height: 320px;
    }
  }
}