.factory_result {
  background-size: cover;
  width: 236px;
  height: 320px;

  .factory_result-img {
    background-size: cover;
    width: 236px;
    height: 320px;
  }

  .factory_result-img-frontend-male-disable {
    background-size: cover;
    width: 236px;
    height: 320px;
    background-image: url("../../assets/img/robots/FrontendDisableMale.svg");
  }

  .factory_result-img-frontend-male-available {
    background-size: cover;
    width: 236px;
    height: 320px;
    background-image: url("../../assets/img/robots/FrontendAvailableMale.svg");
  }

  .factory_result-img-frontend-male-done {
    background-size: cover;
    width: 236px;
    height: 320px;
    background-image: url("../../assets/img/robots/FrontendDoneMale.svg");
  }

  .factory_result-img-frontend-female-disable {
    background-size: cover;
    width: 236px;
    height: 320px;
    background-image: url("../../assets/img/robots/FrontendDisableFemale.svg");
  }

  .factory_result-img-frontend-female-available {
    background-size: cover;
    width: 236px;
    height: 320px;
    background-image: url("../../assets/img/robots/FrontendAvailableFemale.svg");
  }

  .factory_result-img-frontend-female-done {
    background-size: cover;
    width: 236px;
    height: 320px;
    background-image: url("../../assets/img/robots/FrontendDoneFemale.svg");
  }

  .factory_result-img-design-male-disable {
    background-size: cover;
    width: 236px;
    height: 320px;
    background-image: url("../../assets/img/robots/DesignDisableMale.svg");
  }

  .factory_result-img-design-male-available {
    background-size: cover;
    width: 236px;
    height: 320px;
    background-image: url("../../assets/img/robots/DesignAvailableMale.svg");
  }

  .factory_result-img-design-male-done {
    background-size: cover;
    width: 236px;
    height: 320px;
    background-image: url("../../assets/img/robots/DesignDoneMale.svg");
  }

  .factory_result-img-design-female-disable {
    background-size: cover;
    width: 236px;
    height: 320px;
    background-image: url("../../assets/img/robots/DesignDisableFemale.svg");
  }

  .factory_result-img-design-female-available {
    background-size: cover;
    width: 236px;
    height: 320px;
    background-image: url("../../assets/img/robots/DesignAvailableFemale.svg");
  }

  .factory_result-img-design-female-done {
    background-size: cover;
    width: 236px;
    height: 320px;
    background-image: url("../../assets/img/robots/DesignDoneFemale.svg");
  }

}