.storage {
  display: flex;
  flex-direction: column;

  .storage_container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 60px;
    margin-left: 70px;

  }

  & h2 {
    box-sizing: border-box;
    margin-top: 100px;
    margin-left: 130px;
    color: #FFFFFF;
    font-size: 32px;
    line-height: 40px;
    font-weight: 600;
  }


  & p {
    color: #A3B8CC;
    font-size: 16px;
    text-align: center;
    line-height: 24px;
    font-weight: 600;
    margin-top: 5px;
  }

  & h3 {
    color: #FFFFFF;
    text-align: center;
    line-height: 32px;
    font-size: 20px;
    margin-top: 25px;
  }

  & button {
    height: 48px;
    width: 236px;
    border-radius: 60px;
    text-align: center;
    box-sizing: border-box;
    margin-top: 24px;
    background-color: transparent;
    border: 2px solid #22B3E3;
    color: #7CDAF9;
    line-height: 24px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;

    &:hover {
      background: #7CDAF9;
      color: #212529;
    }

    &:active {
      background: #22B3E3;
    }

    &.disabled {
      background-color: transparent;
      border: 2px solid #4C5865;
      color: #7D90A6;
      cursor: unset;
    }
  }
}